* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Fonts
font-family: 'Arial', sans-serif;
font-family: 'Arial Black', sans-serif;
font-family: 'Arial Light', sans-serif;
font-family: 'Arial CE', sans-serif;
font-family: 'Arial CE MT Black', sans-serif;

Colors:
light-grey: rgb(247, 248, 249)
grey: rgb(170, 175, 181)
light blue: rgb(71, 173, 241)
purple: rgb(156, 114, 228)
fucsia: rgb(216, 99, 161)
orange: rgb(243, 158, 51)
lime: rgb(176, 201, 39)
green: rgb(100, 192, 169)

*/

/* Header */

.header {
    padding: 10px 10px 10px;
    display: flex;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    align-items: center;
}

.logo {

    margin-right: 5px;
}

/* main section */

.background {
    background-color: rgb(247, 248, 249);
    padding-top: 30px;
    padding-bottom: 10px;

}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.button-section {
    padding: 15px 0px 10px 40px;
    border-bottom: 1px solid rgb(247, 248, 249);

}

.buttons {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 11px;
}

.btn-blue {
    background-color: rgb(71, 173, 241);
    color: white;
    border: 1px solid rgb(71, 173, 241);
}

.btn-grey {
    background-color: white;
    border: 1px solid rgb(170, 175, 181);
    color: rgb(170, 175, 181);
}


.list {
    padding: 15px 15px 15px 20px;
    list-style: none;

}

.h2 {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(67, 69, 72);

}

.element {

    padding: 8px 15px 8px 0px;
    list-style: none;
    font-weight: lighter;
    font-size: 12px;
}

.triangle {
    margin-right: 5px
}

.check {

    margin: 0px 10px 0px 0px;
    padding: 2px 3px 2px 3px;
    border: 1px solid rgb(100, 192, 169);
    color: rgb(100, 192, 169);
    border-radius: 50%;
    font-size: 8px;
}

.cross {

    margin: 0px 10px 0px 0px;
    padding: 2px 3px 2px 3px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    font-size: 8px;
}

.chips {
    font-size: 8px;
    font-weight: lighter;
    color: white;
    background-color: black;
    padding: 5px 8px 5px 8px;
    border-radius: 8px;

}

.cp-blue {
    background-color: rgb(71, 173, 241);
}

.cp-purple {
    background-color: rgb(156, 114, 228)
}

.cp-fucsia {
    background-color: rgb(216, 99, 161)
}

.cp-orange {
    background-color: rgb(243, 158, 51)
}

.cp-lime {
    background-color: rgb(176, 201, 39)
}

.cp-green {

    background-color: rgb(100, 192, 169);
}

.cp-lime {
    background-color: rgb(176, 201, 39)
}


/* footer */

.footer {
    height: 30px;
    background-color: rgb(247, 248, 249);

}